/*
  Logo image
*/
.wy-side-nav-search img.logo {
    width: 100px;
    height: auto;
}

/*
  References
*/
table.docutils.citation {
    margin-top: 10px;
    border-top: 1px solid #e1e4e5 !important;
    -moz-box-shadow: 0px 0px 0px #eee;
    -webkit-box-shadow: 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px #eee;
}

table.docutils.citation td, table.docutils.citation th {
    border: 0px solid #888;
    padding: 0.25em 0.7em;
}

table.docutils.citation td {
    padding-top: 50px;
    position: relative;
}

table.docutils.citation td.label {
    font-weight: bold;
    padding-top: 30px;
    position: absolute;
    z-index: 2000;
}